@model IEnumerable<TIYVideoStorePartDeux.Models.RentalRecordsModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.RentalDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DueDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ReturnDate)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomersModel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MoviesModel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RentalDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DueDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReturnDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomersModel.CustomerID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MoviesModel.MovieID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RentalID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RentalID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RentalID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
